* {
  box-sizing: border-box;
}

body {
  background-color: #faf9f6;
  line-height: 1.5;
  font-size: 62.5;
}

.hide {
  display: none;
}

.headerContainer {
  display: flex;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #280067;
  color: white;
  position: absolute;
  justify-content: space-between;
  height: 5%;
  width: 100%;
}

.title {
  margin-left: 5px;
}
.titleName {
  font-size: 1.5rem;
  margin-left: 10px;
}

.time {
  margin-right: 20px;
}

main {
  display: flex;
}

.btn {
  border: none;
  background-color: #280067;
  color: white;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  margin: 10px 10px 10px 10px;
  padding: 30px 34px;
  cursor: pointer;
}

#startButton {
  font-size: 100px;
  margin-top: 100%;
  margin-left: 130%;
  padding: 50px;
}

.highscoreDisplay {
  margin-top: 25%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #280067;
}

h2 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

.quizSet1 {
  text-align: center;
  margin-top: 5%;
  margin-left: 15%;
}

.quizSet2 {
  text-align: center;
  margin-top: 5%;
  margin-left: 15%;
}

.quizSet3 {
  text-align: center;
  margin-top: 5%;
  margin-left: 15%;
}

.gameOverScreen {
  text-align: center;
}

.gameOverTitle {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15rem;
  text-align: center;
  color: #280067;
}

.nameSubmission {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-align: center;
  color: #280067;
}

.submissionText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-align: center;
  color: #280067;
}

.listItems {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #280067;
}
